script(src="js/jquery-3.4.1.min.js")
script(src="js/bootstrap.min.js")
script(src="js/popper.min.js")
script(src="js/mdb.js")
script(src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js")
