section#footer-over.bg-white
  .d-md-flex.d-block.px-md-5.my-5
    .col-md-7
      .d-flex.d-none-320.align-items-center
        h2.text-primary.mr-4.font-1-5rem ¿Preguntas?
        button.btn.btn-primary.btn-outline-primary.btn-rounded.col-4.col-12-320.btn-footer Contacto
      .d-flex.mt-3
        ul.col-md-5.no-style-li.px-0.px-md-4
          li
            a(href="faqs.html", target="_blank", rel="noopener noreferrer").text-muted  
              i.fas.fa-chevron-right.font10-px.mr-3
              |Ayuda
          li
            a(href="terms.html", target="_blank", rel="noopener noreferrer").text-muted  
              i.fas.fa-chevron-right.font10-px.mr-3
              |Términos y condiciones
          li
            a(href="politics.html", target="_blank", rel="noopener noreferrer").text-muted  
              i.fas.fa-chevron-right.font10-px.mr-3
              | Políticas de privacidad
        ul.col-md-5.no-style-li.px-0.px-md-4
          li
            a(href="blog.html", target="_blank", rel="noopener noreferrer").text-muted  
              i.fas.fa-chevron-right.font10-px.mr-3
              | Educación financiera
          li
            a(href="contact.html", target="_blank", rel="noopener noreferrer").text-muted  
              i.fas.fa-chevron-right.font10-px.mr-3
              | Contacto
    .col-md-5.mt-5.justify-content-end
      .d-flex.mt-5.align-items-center 
        h4.text-primary.mr-5.font20-px Accedé a tu teléfono 
        .d-flex
          a(href="")
            .fab.fa-facebook-f.iconos-redes.text-primary
          a(href="").mx-4
            .fab.fa-instagram.iconos-redes.text-primary
          a(href="")
            .fab.fa-twitter.iconos-redes.text-primary
footer.page-footer.font-small(style="background: #f4f4f4 !important;")
  .footer-copyright.text-left.py-4.px-5.text-dark
    | © 2020 GoFono - Todos los derechos reservados