extends layouts/_blog_layout

block content
  section.bg-header
    #img-background-blog
      .center-absolute
        .text-center.mx-auto.col-12
          h1.text-white Educación financiera
          p.px-md-0.px-3.text-white  Creamos un blog con toda la información necesaria para que puedas asesorarte acerca de cómo podés <br class="d-md-block d-none"> 
            | mejorar tu acceso al crédito y obtener mejor financiamiento.
          .raya.bg-white.col-md-1.col-2.mx-auto.mt-4
    div#blog-desctacado.d-md-flex.justify-content-center
          img(src="img/imagen-4.png", alt="", srcset="").rounded.mr-md-5.img-top-blog
          div.pt-md-5.mt-5.px-md-0.px-5
            h5.text-primary Lorem ipsum dolor sit amet, sed diam nonummy.
            p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie <br class="d-md-block d-none"> 
              | consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
            button.btn.btn-primary.btn-rounded Leer nota    
    
  section#te-contamos-blog
    //- img(src="img/fondo-te-contamos.svg", alt="", srcset="")
    .mx-auto.center-absolute.col-md-9.mt-md-5
      .d-md-flex.d-block.mt-5.pt-3.pb-5
        .px-3.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-1.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-2.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-3.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
      .d-md-flex.d-block.mt-5.pt-3.pb-5
        .px-3.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-1.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-2.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-3.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer más
      .mas
        
      button.btn.btn-primary.btn-outline-primary.btn-rounded.mx-auto.d-block.mt-5.btn-lg.cargar-mas Ver más notas
    
  include components/_top_footer_2
block script
  script(type = "text/javascript").
    $(function() {
      $('.cargar-mas').on('click', function(){
        //Usar un ajax para llamar mas post e intrudicir este codigo en el success para cargar mas notas 
          $(".mas").append(function(n){
            // Respuesta json
            let JsonData ={
              "0":{
                  "date": "Julio, 2020",
                  "img" : 'img/imagen-1.png',
                  "title": "Lsed diam nonummy nibh euismod <br> tincidunt dolore magna erat <br> volutpat.",
              },
              "1":{
                "date": "Julio, 2020",
                "img" : 'img/imagen-2.png',
                "title": "Lsed diam nonummy nibh euismod <br> tincidunt dolore magna erat <br> volutpat.",
              },
              "2":{
                "date": "Julio, 2020",
                "img" : 'img/imagen-3.png',
                "title": "Lsed diam nonummy nibh euismod <br> tincidunt dolore magna erat <br> volutpat.",
              }  
            };
            let contenedor_init = '<div class="d-md-flex d-block mt-5 pt-3 pb-5">' ;
            let contenedor_end = '<div>'
            let contenido = '' ;
            $.each(JsonData,function(index, value){
                contenido += '<div class="px-3 col-md-4 mt-md-0 mt-4 animar-card" >'+
                                '<div class="card border-only border-0"><img class="img-border border-card-img" src="'+ value.img +'" alt="" srcset=""/>'+
                                  '<div class="px-4 mt-3"><small>'+ value.date +'</small>'+
                                    '<p class="mt-3">'+ value.title +'</p>'+
                                    '<button class="btn btn-primary btn-rounded my-4">Leer más</button>'+
                                  '</div>'+
                                '</div>'+
                              '</div>';
            });
          //- console.log(contenido);
            let html = contenedor_init + contenido + contenedor_end;
            if(contenido != ''){
                $('.mas').append(html);
            }
            
          });
      });
    });
