extends layouts/_index_layout

block content
  section 
    .position-absolute.center-absolute
      .title-contact.text-center.mx-auto.col-12
        h1.text-white Contacto
        p.px-md-0.px-3.text-white  Completa los datos a continuación para que nos pongamos en <br class="d-md-block d-none"> contacto a la brevedad.
    #img-background-contacto
  section#form.mb-5
    form(method="post").card.col-md-8.col-11.mx-auto.p-md-5.card-radius.mt-form
      .d-md-flex.d-block  
        .md-form.form-sm.col-md-6.col-12
          input(type="text" id="name" name="name").form-control.form-control-lg
          label(for="name").ml-3 Nombre *
        .md-form.form-sm.col-md-6.col-12
          input(type="text" id="last_name" name="last_name").form-control.form-control-lg
          label(for="last_name").ml-3 Apellido *
      .d-md-flex.d-block  
        .md-form.form-sm.col-md-6.col-12
          input(type="text" id="phone" name="phone").form-control.form-control-lg
          label(for="phone").ml-3 Teléfono *
        .md-form.form-sm.col-md-6.col-12
          input(type="text" id="email" name="email").form-control.form-control-lg
          label(for="email").ml-3 Email *
      .d-md-flex.d-block
        .md-form.form-sm.col-md-6.col-12
          textarea(id="form7"  rows="3").md-textarea.form-control
          label(for="form7").ml-3 Mensaje
      button.btn.btn-primary.btn-rounded.col-md-4.mt-5 Enviar propuesta
      small.ml-3.mt-md-3.mb-md-0.mb-3 *Campo obligatorio
      
  include components/_top_footer_1