extends layouts/_index_layout

block content
  section#apply-header 
    .d-md-flex.container
      .col-md-6
        img(src="img/70-porciento.svg", alt="", srcset="").img-apply.mx-auto.d-block
      .col-md-6.mt-md-0.mt-5
        h4.text-md-left.text-center.text-primary ¡Felicitaciones! <br class="d-md-block d-none">
          | Tuviste 75% de respuestas correctas
        p.text-md-left.text-center  Tenés una buena base para tomar mejores <br class="d-md-block d-none">
          |  decisiones sobre tus finanzas personales
        button.btn.btn-primary.btn-rounded.mx-auto.ml-md-0.d-block.col-10.col-md-4.mt-5.mt-md-2 ¡Terminar!
  include components/_top_footer_1