extends layouts/_index_layout

block content
  section 
    .title-faqs.text-center
      h1.text-primary Preuntas frecuentes
      p.px-md-0.px-3 Creamos un blog con toda la informacion necesaria para que puedas asesorarte acerca de como podes <br class="d-md-block d-none"> 
        |mejorar tu acceso al credito y obtener mejor financiamiento.
  section.container.my-5
    #accordionEx.md-accordion.accordion(role='tablist', aria-multiselectable='true')
      .card
        #headingOne.card-header(role='tab')
          a(data-toggle='collapse', data-parent='#accordionEx', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #1                  
        #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
      .card
        #headingTwo.card-header(role='tab')
          a.collapsed(data-toggle='collapse', data-parent='#accordionEx', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #2                    
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
      .card
        #headingThree.card-header(role='tab')
          a.collapsed(data-toggle='collapse', data-parent='#accordionEx', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #3                    
        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
      .card
        #headingTwo.card-header(role='tab')
          a.collapsed(data-toggle='collapse', data-parent='#accordionEx', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #2                    
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
      .card
        #headingTwo.card-header(role='tab')
          a.collapsed(data-toggle='collapse', data-parent='#accordionEx', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #2                    
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
      .card
        #headingTwo.card-header(role='tab')
          a.collapsed(data-toggle='collapse', data-parent='#accordionEx', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            h6.mb-0.text-dark
              i.fas.fa-angle-down.rotate-icon.mr-3
              | Collapsible Group Item #2                    
        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            | ad squid. 3 wolf moon officia aute,
            | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            | Brunch
            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
            | assumenda
            | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
            | nesciunt
            | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
            | beer
            | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
            | accusamus
            | labore sustainable VHS.
  include components/_top_footer_1
