extends layouts/_index_layout
block style_up
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
block content
  section#section-home
    .position-absolute.title-content
      h1.text-primary.font-title.animar-title GoFono te permite <br>
        | tener el celular <br>
        span.bg-title-corte.text-white.bg-primary que querés.
      p.mt-4.animar-title Accedé solo con tu cuenta de Facebook y pagá <br class="d-none-320">
        | minicuotas a tu medida.
      div.bg-primary.raya.mt-5.d-none.d-md-block
      div.mt-4
        p.d-none.d-md-block ¿Ver para creer? Descargate la APP.
        div.mt-4.animar-download
          a(href="#", target="_blank", rel="noopener noreferrer").animar-download
            img(src="img/download-AppStore.svg", alt="").btn-download
          a(href="#", target="_blank", rel="noopener noreferrer").mx-2.animar-download
            img(src="img/download-GooglePlay.svg", alt="").btn-download
          a(href="#", target="_blank", rel="noopener noreferrer").animar-download
            img(src="img/web-browser.svg", alt="").btn-download
    .owl-carousel.carrusel-desktop-home
      #img-home-slider-1
      #img-home-slider-2
  section#section-offer  
    .owl-carousel.carrusel-section-2.my-5
      div
        img(src="img/sin-tarjeta.svg", alt="" style="width:40%;").mx-auto
        h5.text-center.text-primary Sin tarjeta de crédito ni <br> cuenta bancaria.
        p.text-center Podés comprar tu próximo teléfono en <br>
          | cuotas aunque no tengas una tarjeta de <br> 
          | crédito o cuenta bancaria.
      div
        img(src="img/vos-decidis.svg", alt="" style="width:40%;").mx-auto
        h5.text-center.text-primary Vos decidís <br> como pagarlo.
        p.text-center Elegís el formato de cuota que más te <br> conviene.
      div  
        img(src="img/confirmacion.svg", alt="" style="width:40%;").mx-auto
        h5.text-center.text-primary Confirmación inmediata
        p.text-center Aprobación de tu nuevo teléfono en <br> cuotas al instante.
  section#section-phone
    .position-absolute.center-absolute
      .text-center.mt-5
        h2.text-primary.animar-download Vidriera GoFono
        p.animar-download ¿Todavía no sabés que teléfono querés? <br>
          | Entrá a GoFono y descubrí la oferta completa que tenemos para vos.
      .center-absolute.phone-carrusel.owl-carousel.mt-5.pt-3.px-md-6
        .px-md-5.px-5
          a(href="#").card.border-radius 
            img(src="img/telefono-a10.jpg", alt="").img-phone-slider.mt-5
            p.text-center.font-weight-500.mt-3 Samsung Galaxy <br>
              | A10 - 32gb
            .border-bottom.col-10.mx-auto.mb-3
            .text-center.text-primary.mb-3
              small 12 cuotas de
              h2 $ 1.890
        .px-md-5.px-5
          a(href="#").card.border-radius 
            img(src="img/telefono-a10.jpg", alt="").img-phone-slider.mt-5
            p.text-center.font-weight-500.mt-3 Samsung Galaxy <br>
              | A10 - 32gb
            .border-bottom.col-10.mx-auto.mb-3
            .text-center.text-primary.mb-3
              small 12 cuotas de
              h2 $ 1.890
        .px-md-5.px-5
          a(href="#").card.border-radius 
            img(src="img/telefono-a10.jpg", alt="").img-phone-slider.mt-5
            p.text-center.font-weight-500.mt-3 Samsung Galaxy <br>
              | A10 - 32gb
            .border-bottom.col-10.mx-auto.mb-3
            .text-center.text-primary.mb-3
              small 12 cuotas de
              h2 $ 1.890
      .mt-md-5.mt-3.pt-4.animar-download
        h2.text-white.text-center.title-h2.font-weight-500 ¿Estas listo para comprar <br>
          | tu próximo teléfono?
        div.mt-4.justify-content-center.d-flex.mt-md-5
          a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="img/download-AppStore.svg", alt="").btn-download
          a(href="#", target="_blank", rel="noopener noreferrer").mx-3
            img(src="img/download-GooglePlay.svg", alt="").btn-download
          a(href="#", target="_blank", rel="noopener noreferrer")
            img(src="img/web-browser.svg", alt="").btn-download
    #img-background-phone  
  section#te-contamos
    .position-absolute.mx-auto.center-absolute.col-md-9.mt-md-5.pt-md-5.mt-4
      .text-md-center.text-left
        h2.text-primary.title-h2.animar-download Te contamos como <br class="d-md-none d-block">resolver <br class="d-md-block d-none">
          | tus problemas financieros.
        p.animar-download Creamos un blog con toda la informacion necesaria para que puedas asesorarte acerca de como <br class="d-md-block d-none">
          | podes mejorar tu acceso al credito y obtener mejor financiamiento.
      .d-md-flex.d-block.mt-5.pt-3.pb-5
        .px-3.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-1.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.d
              button.btn.btn-primary.btn-rounded.my-4 Leer mas
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-2.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer mas
        .px-4.col-md-4.mt-md-0.mt-4.animar-card
          .card.border-only.border-0
            img(src="img/imagen-3.png", alt="", srcset="").img-border.border-card-img
            .px-4.mt-3
              small Julio, 2020
              p.mt-3 Lsed diam nonummy nibh euismod <br> 
                | tincidunt dolore magna erat <br> 
                | volutpat.
              button.btn.btn-primary.btn-rounded.my-4 Leer mas
      a(href="blog.html").btn.btn-primary.btn-outline-primary.btn-rounded.mx-auto.d-block.mt-5.btn-lg.col-10.col-md-3 Ver todas las notas
    #fond-te-contamos
  include components/_top_footer_1


block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
  script(type = "text/javascript").
    
    $(function() {
      $(".carrusel-desktop-home").owlCarousel({
            loop:true,
            items:1,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true,
            rewindNav : false,	
            pagination : false,  
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            slideSpeed: 10000,
            smartSpeed: 1,
            dotsSpeed:1000,
            paginationSpeed: 10000,
            touchDrag: false,
            mouseDrag: false,
            lazyLoad:true,
      
      });
      $(".phone-carrusel").owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            dots:true,
            responsive:{
                0:{
                  dots:true,
                  loop:true,
                  items:1
                },
                700:{
                  loop:true,
                  items:3,
                }
            }
      
      });
      $(".carrusel-section-2").owlCarousel({
            autoplay:true,
            autoplayTimeout:2500,
            dots:true,
            responsive:{
                0:{
                  dots:true,
                  loop:true,
                  items:1
                },
                700:{
                  loop:true,
                  items:3,
                }
            }
            
      });
        
        
    });