extends layouts/_index_layout

block content
  section.align-items-center.d-flex 
    .position-absolute.center-absolute
      .text-center.mx-auto.col-12.mt-5
        h2.text-white 
          mark Lorem ipsum dolor sit amet, sed <br> diam nonummy.
        p.px-md-0.px-3.text-white  Duis autem vel eum iriure dolor in hendrerit in vulputate <br class="d-md-block d-none">
          | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis <br class="d-md-block d-none"> 
          | at vero eros.
    #img-background-notas
  section.container.px-md-5.mt-5#section-nota
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
      | ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
      | tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
      | iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
      | nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril 
      | delenit augue duis dolore te feugait nulla facilisi.
    div.pl-4.pl-md-5.my-5   
      p 1.  Lorem ipsum dolor sit amet, cons ectetuer adipiscing
      p 2.  Ut wisi enim ad minim veniam
      p 3.  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
    
    h5.mb-4.font-weight-bold Lorem ipsum dolor sit amet, consectetuer
    p Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
      | ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
      | tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat:
    div.pl-4.pl-md-5.my-5 
      div.d-flex 
        .col-1.text-center
          i.fas.fa-check.text-primary 
        span.col-10 Lorem ipsum dolor sit amet, cons ectetuer adipiscing
      div.d-flex.my-4 
        .col-1.text-center
          i.fas.fa-check.text-primary 
        span.col-10 Ut wisi enim ad minim veniam
      iv.d-flex 
        .col-1.text-center
          i.fas.fa-check.text-primary 
        span.col-10 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
      | tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
      | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
      | consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
      | consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit.
    div.d-md-flex.my-5.justify-content-center
      img(src="img/imagen-2.png", alt="", srcset="").mr-md-5.rounded.img-nota
      div
        div.text-primary.display-2.py-0.my-0 ❛❛
        h2.text-primary(style="margin-top:-30px;")
          |Ut wisi enim ad minim <br>
          | veniam, quis nostrud exerci <br>
          | tation ullamcorper.
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
      | tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
      | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
      | consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
      | consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit.
  section.container.my-5.border-top.pt-5
    h2.text-center.text-primary ¿Te animás a comprobar tus <br class="d-md-block d-none">
      | conocimientos financieros <br class="d-md-block d-none">
      | con nuestro test?
    button.btn.btn-primary.btn-rounded.mx-auto.d-block.col-6.mt-5.col-md-2 Ir al test



  include components/_top_footer_1